<div class="footer-left">
  <a
    href="https://github.com/Damilolaadefenwa/storeKeepwdd330"
    target="_blank"
    class="footer-link"
    id="github-link"
  >
    View Project on GitHub
  </a>
</div>
<div class="footer-middle">
  &copy; <span id="current-year"></span> ⛺ StoreKeep Dashboard. All rights
  reserved.
</div>
<div class="footer-right platform-badges" id="connect-badges">
  <a
    href="https://x.com/i/flow/login"
    target="_blank"
    aria-label="Twitter-X"
    class="platform-icon"
    ><img
      src="images/twitter-x.svg"
      alt="twitter-X Logo"
      width="24"
      height="24"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/damilolamercy17/"
    target="_blank"
    aria-label="LinkedIn"
    class="platform-icon"
    ><img
      src="images/linkedin.svg"
      alt="LinkedIn Logo"
      width="24"
      height="24"
    />
  </a>
</div>
