<div class="header-left">
  <div class="brand-logo">
    <img src="images/storeKeepLogo.svg" alt="brand image for logo" />
  </div>
  <div class="brand-name"><a href="index.html">StoreKeep</a></div>
</div>
<div class="header-right">
  <a href="index.html" class="nav-link" id="home-link">Homepage</a>
  <div class="notification-container" id="notification-bell">
    <div class="notification-bell">
      <img
        src="images/notificationbellicon.svg"
        alt="notification bell image"
      />
    </div>
  </div>
  <button id="mobile-menu-btn" aria-label="Toggle Menu">☰</button>
</div>
